.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
}

#portfolio{
    margin-top: 0;
    margin-bottom: 70px;

}

.port_title{
    margin-bottom: 60px;
    color: cornflowerblue;
    text-transform: uppercase;
}
.portfolio__item{
    background: cornflowerblue;
    padding: 1rem;
    border-radius: 1.5rem;
    
    
}

.portoflio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.li_item{
    color: white;
    text-align: left;
    
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin:1rem 0 2rem;
}

.portfolio__item-cta{
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px; 
    
}
.btn {
    margin-left: 20px;
    margin-right: 20px;
}
/* ==================Media Queries (Medium Devices)==================*/
@media screen and (max-width:1300px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }


}
/* ==================Media Queries (Small Devices)==================*/
@media screen and (max-width:800px) {
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
.portfolio__item-cta{
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 80px;   
    
}
}