#contact h2{
    color: cornflowerblue;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
 
.contact__options {
    display: grid; /* Use grid layout for the contact options */
    grid-template-columns: repeat(2,1fr); /* Single column for the contact options grid */
    gap: 1.2rem; /* Gap between contact options */
}

.contact__options__2 {
    display: flex; /* Use grid layout for the contact options */
    flex-direction:column; /* Single column for the contact options grid */
    gap: 1.2rem; /* Gap between contact options */
}
.contact__option{
    background: cornflowerblue;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}


.contact__option-icons{
    font-size:1.5rem ;
    margin-bottom: 0.5rem;
}
.contact__option a{
    margin-top: 0.7rem;
    
    font-size:0.8rem ;
}


/* ==================Media Queries (Small Devices)==================*/
@media screen and (max-width:600px) {
    .container.contact__container {
            
            width: var(--container-width-sm);
        }
}

/* ==================Media Queries (Meduim Devices)==================*/
@media screen and (max-width:1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}