#technology{
    margin-top: 0rem;
    background-color: white;

}
.carousel {
    position: relative;
    width: 100%;
    height: 50px;
    overflow:hidden;
    margin-left: 0%;
    
    margin-top: 0;
}

.carousel__wrapper {
    display: flex;
    flex-direction: row;
    width: calc(400px * 5);
    height: 50%;
    transition: transform 0.5s ease;
    margin: 0 0%;
}

.carousel__slide {
    width: 500px;
    height: 100%;
}

.carousel__slide img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
    object-fit: cover;
}
.btn-div{
    margin-left: 20px;
}
.btn-class {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-class:nth-child(1) {
    left: 0;
}

.btn-class:nth-child(2) {
    right: 0;
}

@media screen and (max-width: 768px) {
    .carousel {
        height: 200px;
    }

    .carousel__wrapper {
        width: calc(400px * 3);
    }

    .carousel__slide {
        width: 400px;
        height: 100%;
    }
}