footer{
    background: url('../../assets/bg_main_dark.jpg');
    text-align: center;
    padding-bottom: 0.1rem;
    margin-bottom: 0px;
    font: 0.9rem;
    margin-top: 0%;
    font-family: 'Segoe UI', sans-serif;
    color: white;

}

.footer__copyright{
    margin-bottom: 1rem;
   
}

/* ==================Media Queries (Small Devices)==================*/
@media screen and (max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer__socials{
        margin-bottom: 2.6rem;
    }
}