#myinfo {
    background-color: white;
    padding: 20px;
    margin: 20px 30px;
    color: black;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
}

.title_section{
    color: cornflowerblue;

}