/* General Styles */
.challenges__section {
    background-color: #f9f9f9;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 1000px;
}

/* Heading Styles */
.challenges__section h1 {
    color: cornflowerblue;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Skills List Styles */
.skills-list {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

/* Individual Skill Item Styles */
.skills-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #555;
    line-height: 1.6;
}

/* Skill Icon Styles */
.skills-list span {
    font-size: 1.25rem;
    margin-right: 10px;
}

/* Styles for the skill details */
.skills-detail {
    margin-left: 10px;
    display: inline-block;
}

/* Adjusting space between strong and skills-detail */
.skills-list li strong {
    display: inline-block;
    width: 200px; /* Adjust width as needed */
}

/* Responsive Styles */
@media (max-width: 600px) {
    .challenges__section {
        padding: 20px;
        font-size: 1rem;
    }
    
    .skills-list li {
        flex-direction: column;
        align-items: center;
        line-height: 2rem;
    }
    
    .skills-list li strong {
        width: auto;
    }
    
    .skills-detail {
        margin-left: 0;
        margin-top: 5px;
    }
}
